* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #08141C;
    font-family: CircularSp, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var, sans-serif;
    height: 100vh;
}


/*home css*/
.container {
    padding: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.albums {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

h1, h2 {
    color: #fff;
}

.genre {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.album {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    height: 12em;
    width: 8.5em;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #181818;
    color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.album:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

/* album */

.songs {
    list-style: none;
    margin: 0;
    padding: 0;
}

.song {
    margin: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #fff;
}

/* song detail*/
.song-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 3rem 0;
}

.album-cover {
  width: 300px;
  height: 300px;
  object-fit: cover;
  margin-right: 2rem;
}

.song-title {
  font-size: 3rem;
  margin: 0;
}

.artist-name {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0.5rem;
}

.song-meta {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

.album-name,
.release-date,
.duration {
  margin: 0;
  font-size: 1.5rem;
  color: #b3b3b3;
  margin-right: 1.5rem;
}

.song-actions {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.play-button,
.add-to-playlist-button {
  background-color: #1db954;
  border: none;
  color: white;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.add-to-playlist-button {
  background-color: #b3b3b3;
}

.play-button:hover,
.add-to-playlist-button:hover {
  background-color: #1aa34a;
}

.play-button:focus,
.add-to-playlist-button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(29, 185, 84, 0.4);
}
