<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-logo">
        <a href="#">
            <img src="{% static 'spotify_transparent_logo.png' %}" alt="">
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="/albums/">Главная</a></li>
            <li><a href="#">Поиск</a></li>
            <li><a href="#">Моя медиатека</a></li>
        </ul>
    </nav>
</div>
<div>
    {% block content %}

    {% endblock %}
</div>

</body>
</html>
