<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Spotify</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>

<div class="sidebar">
    <div class="sidebar-logo">
        <a href="#">
            <!-- Вставьте здесь логотип вашего сайта -->
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li><a href="#">Главная</a></li>
            <li><a href="#">Поиск</a></li>
            <li><a href="#">Моя медиатека</a></li>
        </ul>
    </nav>
</div>

</body>
</html>
