{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div class="container">
        <h1>{{ genre }}</h1>

        <div class="albums">
                <ul class="genre">
                    {% for album in albums_of_one_genre %}
                        <a style="background-color: #a5a5a5" class="album" href="/albums/{{ album.id }}/">{{ album.name }}<img src="{% static 'Spotify-App-Icon-Large.png' %}" alt=""></a>
                    {% endfor %}
                </ul>
        </div>
    </div>
{% endblock %}
