{% extends "base.html" %}

{% block content %}
    <div class="container">
        <h1>Альбом - {{ album.name }}</h1>

    {% if songs %}

        <ul class="songs">
            {% for song in songs %}
                <a href="/song/{{ song.id }}/">
                    <li class="song">
                        {{ song.name }}
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
            <h2>Album is empty</h2>
    {% endif %}

    </div>
{% endblock %}
