{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3 class="mb-4 text-white">Моя медиатека</h3>
            </div>
        </div>

        <div class="row">
            {% for playlist in playlists %}
                <a class="album" style="background-color:#a5a5a5;"
                   href="{% url 'playlist_detail' playlist.pk %}">{{ playlist.name }}<img
                        src="{% static 'Spotify-App-Icon-Large.png' %}" alt=""></a>
            {% empty %}
                <p class="text-light">You don't have any playlist yet</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
